@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

:root {
  --base-spacing-unit: 24px;
  --half-spacing-unit: calc(var(--base-spacing-unit) / 2);
  --color-alpha: #1772FF;
  --color-form-highlight: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: var(--base-spacing-unit);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background: #FFF;
  color: #333;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border: 1px solid #ccc;
}

.table-header, .table-row {
  display: flex;
  width: 100%;
}

.table-header {
  background: #333;
  color: #FFF;
  padding: calc(var(--half-spacing-unit) * 1.5) 0;
}

.table-row {
  background: var(--color-form-highlight);
  padding: calc(var(--half-spacing-unit) * 1.5) 0;
}

.table-row:nth-of-type(odd) {
  background: #f8f8f8;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
  padding: 0 10px;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  display: block;
}

.filter__link.desc::after, .filter__link.asc::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--half-spacing-unit);
}

.filter__link.desc::after {
  content: '(desc)';
}

.filter__link.asc::after {
  content: '(asc)';
}
